[Unit]
Description=Fallback check for a waiting Tether update request (in case the path unit is not watching)

[Timer]
OnCalendar=*:0/2
AccuracySec=10s
Unit=tether-update.service

[Install]
WantedBy=timers.target
